<form action="/registrations/medicine/add" method="POST">
    <p>EAN</p>
    <input type="text" name="EAN">
    <p>CNPJ</p>
    <input type="text" name="CNPJ">
    <p>Princípio Ativo</p>
    <input type="text" name="Princ">
    <p>Registro</p>
    <input type="text" name="Reg">
    <p>Laboratório</p>
    <input type="text" name="Lab">
    <p>Produto</p>
    <input type="text" name="Prod">
    <p>Apresentação</p>
    <input type="text" name="Apr">
    <p>Classe Terapêutica</p>
    <input type="text" name="Clas">
    <button type="submit">Cadastrar medicamento</button>
</form>