<div>
    <button>PRONTUÁRIOS</button>
    <button>CADASTROS</button>
    <button>DASHBOARD</button>
</div>
<div>
    <button>MICROBIOLOGIA</button>
    <button>RECOMENDAÇÕES</button>
    <button>HISTÓRICO</button>
</div>