<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/public/favicon2.ico">
    <script src="/public/script/{{script}}" async></script>
    <link rel="stylesheet" href="/public/css/{{style}}">
    <link rel="stylesheet" href="/public/css/mainStyle.css">
    <title>GAFio</title>
</head>
<body>
    <!-- cabeçalho -->
    <header id="header">
        <div id="gafioHeader">
            <p>GAFio</p>
        </div>
        <div id="headerButtons">
            <button id="notifButton">Notificações</button>
            <button id="userButton">Usuário</button>
        </div>
	</header>
    <!-- submenu -->
    <div id="subMenu">
        <button class = "subMenuButton" id="backButton"> <- </button>
        <button class = "subMenuButton">HOME</button>
        <button class = "subMenuButton">PRONTUÁRIOS</button>
        <button class = "subMenuButton">CADASTROS</button>
        <button class = "subMenuButton">DASHBOARD</button>
        <button class = "subMenuButton">MICROBIOLOGIA</button>
        <button class = "subMenuButton">RECOMENDAÇÕES CCIH</button>
        <button class = "subMenuButton">HISTÓRICO</button>
    </div>
    {{{body}}}
    <!-- <br><br><br><br><br><br> -->
    <br><br>
    <footer>
        <p id="siteAuthor">Amauri P. - 2021</p>
        <button id="Git" onclick="window.open('https://github.com/esquilor', '_blank');">
            <img src="/public/git.png" width="43px" height= "43px">
        </button>
    </footer>
</body>
</html>