<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/public/favicon.ico">
    <script src="/public/script/{{script}}" async></script>
    <link rel="stylesheet" href="/public/css/{{style}}">
    <title>GAFio</title>
</head>
<body>
    <!-- cabeçalho -->
    <header id="header">
        <div id="gafioHeader">
            <p>GAFio</p>
        </div>
        <div>
            <button>Notificações</button>
            <button>Usuário</button>
        </div>
	</header>
    <div id="subMenu">
        <button class = "subMenuButton" id="backButton"> <- </button>
        <button class = "subMenuButton">HOME</button>
        <button class = "subMenuButton">PRONTUÁRIOS</button>
        <button class = "subMenuButton">CADASTROS</button>
        <button class = "subMenuButton">DASHBOARD</button>
        <button class = "subMenuButton">MICROBIOLOGIA</button>
        <button class = "subMenuButton">RECOMENDAÇÕES CCIH</button>
        <button class = "subMenuButton">HISTÓRICO</button>
    </div>
    {{{body}}}
</body>
</html>